{% assign footer = site.data.footer %}
{% if page.layout == "homepage" %}
{% assign containerclass='container '%}
{% assign rowclass=' mx-auto'%}
{% assign pageclass=' pg-home' %}
{% assign marginclass=' m-0'%}
{% else %}
{% assign containerclass='container '%}
{% assign rowclass=''%}
{% assign pageclass='' %}
{% if page.poll == true %}
{% assign marginclass=' mb-0'%}
{% else %}
{% assign marginclass=' mb-0'%}
{% endif %}
{% endif %}
{% if page.hide_sidebar == true %}
{% assign sbclass=''%}
{% else %}
{% assign sbclass=' sb'%}
{% endif %}
<a class="btn btn-primary btn-floating btn-lg rounded-circle"
   title="{{site.data.strings.backtotop}}"
   id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</a>
<script src="https://be06def6ecd648b5847030eb5ca57dba.js.ubembed.com" async></script>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=ce494837-20c6-4f51-a55c-67b212984671"> </script>
<footer class="text-center border-top {{sbclass}}{{marginclass}}{{pageclass}}">
    <div class="container text-center text-md-start">
        <div class="row justify-content-md-between colgap-lg colgap-xl{{rowclass}}">
            {% for col in footer.columns %}
            <div id="{{col.name}}" class="col col-12 {{col.class}}">
                {% if col.heading %}
                <h3 class="">{{col.heading}}</h3>
                {% endif %}
                <div class="nav-footer m-0 p-0">
                    {% for item in col.items %}
                    {% if item.type == "heading" %}
                    <h3 class="">{{item.text}}</h3>
                    {% elsif item.type == "link" %}
                    {% unless item.active == false %}
                    {% if item.external_url %}
                    <p>
                        <a class="footer-link" href="{{item.external_url}}" target="_blank">{{item.text}}</a>
                    </p>
                    {% elsif page.url contains item.url %}
                    <p>
                        <a class="footer-link active" href="{{site.baseurl}}{{item.url | remove: "/"}}">{{item.text}}</a>
                    </p>
                    {% else %}
                    <p>
                        <a class="footer-link" href="{{site.baseurl}}{{item.url | remove: "/"}}">{{item.text}}</a>
                    </p>
                    {% endif %}
                    {% endunless %}
                    {% elsif item.type == "logo" %}
                    <p class="footer-text">
                        <a class="footer-link" href="index" class="d-block text-right">
                            <img class="img-responsive" src="images/{{item.img}}" alt="{{item.text}}">
                        </a>
                    </p>
                    {% elsif item.type == "text" %}
                    <p class="footer-text">{{item.text}}</p>
                    {% elsif item.type == "tel" %}
                    <p class="footer-tel">
                        <a class="footer-link" href="tel:{{item.text}}">{{item.text}}</a>
                    </p>
                    {% elsif item.type == "copyright" %}
                    <p class="footer-text">
                        <i class="fa fa-copyright"></i>{{item.text}}
                    </p>
                    {% elsif item.type == "social" %}
                    <div class="d-flex footer-social justify-content-center justify-content-md-start">
                        {% for social in item.items %}
                        <a class="link-social mx-20 ms-md-0 me-md-10" href="{{social.external_url}}" target="_blank" title="{{social.text}}">
                            <i class="fa fa-{{ social.icon }} fa-2x"></i>
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>


