{% if menu %}
<ul id="{{menuid}}" class="{{menuclass}}">
    {% for item in menu %}
    {% if page.url == item.url %}
    {% capture currentpageclass %} current-page{% endcapture %}
    {% else %}
    {% capture currentpageclass %}{% endcapture %}
    {% endif %}
    {% if item.icon %}
    {% capture itemicon %}<i class="icon icon-{{item.icon}} fa-fw me-3"></i>{% endcapture %}
    {% else %}
    {% capture itemicon %}{% endcapture %}
    {% endif %}
    {% if item.children %}
    {% capture itemclass %} sidenav-link-parent{% endcapture %}
    {% else %}
    {% capture itemclass %}{% endcapture %}
    {% endif %}

    <li class="sidenav-item{{itemclass}}">
        {% if item.children %}
        <a class="sidenav-link{{currentpageclass}}" href="{{site.baseurl}}{{ item.url}}" title="{{ item.title }}">
            {{ itemicon }}<span>{{ item.title }}</span>
        </a>
        <a class="sidenav-link sidenav-toggle" href="#{{ item.title | slugify | downcase }}" title="{{ item.title }}">
            <span class="visually-hidden">{{ site.data.strings.togglemenu}} {{ item.title }}</span>
        </a>
        {% else %}
        {% if item.externalurl %}
        <a class="sidenav-link{{currentpageclass}}" target="_blank" href="{{ item.externalurl }}" title="{{ item.title }}">
            {{ itemicon }}<span>{{ item.title }}</span>
        </a>
        {% else %}
        <a class="sidenav-link{{currentpageclass}}" href="{{site.baseurl}}{{ item.url}}" title="{{ item.title }}">
            {{ itemicon }}<span>{{ item.title }}</span>
        </a>
        {% endif %}
        {% endif %}
        {% if item.children %}
        {% assign menu = item.children %}
        {% assign submenuid = item.title | slugify | downcase %}
        {% assign menuid = item.title | slugify | downcase %}
        {% assign menuclass = "sidenav-collapse" %}
        {% include v2/generic/menu.html %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}