<ul id="{{include.menuid}}" class="{{include.menuclass}} {{include.menuname}}">
    {% capture currentfilter %}page.menus.{{include.menuname}}{% endcapture %}
    {% capture currentsort %}menus.{{include.menuname}}.weight{% endcapture %}
    {% if include.overviewitemtitle %}
    <li class="sidenav-item item-{{include.overviewmenuitem}}">
        <a class="sidenav-link{{currentpageclass}}" href="{{site.baseurl}}{{ include.overviewitemurl }}" title="{{ item.title }} overview">
            <span class="sidenav-link-title">Overview</spanclass="sidenav-link-title">
        </a>
    </li>
    {% endif %}
    {% assign menuitems = site.pages | where_exp: 'page', currentfilter | sort: currentsort %}
    {% for item in menuitems %}
    {% if item.menus[include.menuname].icon %}
    {% capture itemicon %}
    <i class="icon icon-{{item.menus[include.menuname].icon}} fa-fw me-3"></i>{% endcapture %}
    {% else %}
    {% capture itemicon %}{% endcapture %}
    {% endif %}
    {% capture menuitem %}{{item.menus[include.menuname].identifier}}{% endcapture %}
    {% if page.url == item.url %}
    {% capture currentpageclass %} current-page{% endcapture %}
    {% else %}
    {% capture currentpageclass %}{% endcapture %}
    {% endif %}
<li class="sidenav-item{{include.itemclass}} item-{{menuitem}}">
    {% if item.name == "index.md" %}
    <a class="sidenav-link sidenav-link-toggle" href="#{{ item.title | slugify | downcase }}" title="{{ item.title }}">
        {{ itemicon }}<span class="sidenav-link-title">{{ item.title }}</span><span class="visually-hidden">{{ site.data.strings.togglemenu}} {{ item.title }}</span>
    </a>
    {% capture overviewitemtitle %}{{item.title}}{% endcapture %}
    {% capture overviewitemurl %}{{item.permalink}}{% endcapture %}
    {% capture overviewmenuitem %}{{menuitem}}{% endcapture %}
    {% capture currentclass %}{{currentpageclass}}{% endcapture %}
    {% capture submenuname %}{{menuitem}}{% endcapture %}
    {% capture submenuid %}{{item.title | slugify | downcase}}{% endcapture %}
    {% capture submenuclass %}sidenav-collapse{% endcapture %}
    {% capture submenufilter %}item.menus.{{menuitem}}{% endcapture %}
    {% include v2/generic/menu.html menuname=submenuname menuid=submenuid menuclass=submenuclass currentclass=currentclass overviewitemtitle=overviewitemtitle overviewitemurl=overviewitemurl overviewmenuitem=overviewmenuitem %}
    {% else %}
    {% if item.externalurl %}
    <a class="sidenav-link{{currentpageclass}}" target="_blank" href="{{ item.externalurl }}" title="{{ item.title }}">
        {{ itemicon }}<span class="sidenav-link-title">{{ item.title }}</span>
    </a>
    {% else %}
    <a class="sidenav-link{{currentpageclass}}" href="{{site.baseurl}}{{ menuitem }}" title="{{ item.title }}">
        {{ itemicon }}<span class="sidenav-link-title">{{ item.title }}</span>
    </a>
    {% endif %}
    {% endif %}
</li>
    {% endfor %}
</ul>

