<ul id="{{include.menuid}}" class="{{include.menuclass}} {{include.menuname}}">
    {% capture currentfilter %}page.menus.{{include.menuname}}{% endcapture %}
    {% capture currentsort %}menus.{{include.menuname}}.weight{% endcapture %}
    {% if include.menuname == "mainmenu" %}
    <li class="sidenav-item item-home">
        <a class="sidenav-link" href="index" title="{{ site.data.strings.home }}" data-mdb-ripple-color="red">
            <i class="icon icon-navhome fa-fw me-3"></i>
            <span class="sidenav-link-title">{{ site.data.strings.home }}</span>
        </a>
    </li>
    {% endif %}
    {% if include.overviewitemtitle %}
    <li class="sidenav-item item-{{include.overviewmenuitem}}">
        <a class="sidenav-link{{currentpageclass}}" href="{{site.baseurl}}{{ include.overviewitemurl }}" title="{{ item.title }} overview" data-mdb-ripple-color="red">
            <span class="sidenav-link-title">Overview</span>
        </a>
    </li>
    {% endif %}
    {% assign menuitems = site.pages | where_exp: 'page', currentfilter | sort: currentsort %}
    {% for item in menuitems %}
    {% if item.menus[include.menuname].icon %}
    {% capture itemicon %}
    <i class="icon icon-{{item.menus[include.menuname].icon}} fa-fw"></i>{% endcapture %}
    {% else %}
    {% capture itemicon %}{% endcapture %}
    {% endif %}
    {% capture menuitem %}{{item.menus[include.menuname].identifier}}{% endcapture %}
    {% if page.url == item.url %}
    {% capture currentpageclass %} current-page{% endcapture %}
    {% else %}
    {% capture currentpageclass %}{% endcapture %}
    {% endif %}
    {% assign titlewords = item.title | split: ' ' %}
    {% capture titleconverted %}
    {% for word in titlewords %}
    {% capture worducase %} {{ word | upcase }} {% endcapture %}
    {% if word != worducase %}
    {{ word | capitalize }}
    {% else %}
    {{ word }}
    {% endif %}
    {% endfor %}
    {% endcapture %}
    <li class="sidenav-item{{include.itemclass}} item-{{menuitem}}">
        {% if item.name == "index.md" %}
        <a class="sidenav-link sidenav-link-toggle" href="#{{ item.title | slugify | downcase }}" title="{{ titleconverted }}">
            {{ itemicon }}<span class="sidenav-link-title">{{ titleconverted }}</span><span class="visually-hidden">{{ site.data.strings.togglemenu}} {{ titleconverted }}</span>
        </a>
        {% capture overviewitemtitle %}{{item.title}}{% endcapture %}
        {% capture overviewitemurl %}{{item.permalink}}{% endcapture %}
        {% capture overviewmenuitem %}{{menuitem}}{% endcapture %}
        {% capture currentclass %}{{currentpageclass}}{% endcapture %}
        {% capture submenuname %}{{menuitem}}{% endcapture %}
        {% capture submenuid %}{{item.title | slugify | downcase}}{% endcapture %}
        {% capture submenuclass %}sidenav-collapse{% endcapture %}
        {% capture submenufilter %}item.menus.{{menuitem}}{% endcapture %}
        {% include v2/generic/menu.html menuname=submenuname menuid=submenuid menuclass=submenuclass currentclass=currentclass overviewitemtitle=overviewitemtitle overviewitemurl=overviewitemurl overviewmenuitem=overviewmenuitem %}
        {% else %}
        {% if item.externalurl %}
        <a class="sidenav-link{{currentpageclass}}" target="_blank" href="{{ item.externalurl }}" title="{{ titleconverted }}" data-mdb-ripple-color="red">
            {{ itemicon }}<span class="sidenav-link-title">{{ titleconverted }}</span>
        </a>
        {% else %}
        <a class="sidenav-link{{currentpageclass}}" href="{{site.baseurl}}{{ menuitem }}" title="{{ titleconverted }}" data-mdb-ripple-color="red">
            {{ itemicon }}<span class="sidenav-link-title">{{ titleconverted }}</span>
        </a>
        {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>

