<!DOCTYPE html>
<html>

<head>
    {% include v2/generic/head.html %}
    {% seo %}
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
        $(document).ready(function () {
            $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
            $('table.display').DataTable({
                paging: true,
                stateSave: true,
                searching: true
            });
        });
    </script>
    {% endif %}

</head>
    {% if page.hide_sidebar == true %}
    {% assign sbclass='no-sb'%}
    {% else %}
    {% assign sbclass='sb'%}
    {% endif %}
    {% if page.layout == "homepage" %}
    {% assign containerclass=''%}
    {% assign pageclass='pg-home'%}
    {% assign mainclass='container-fluid bg-dark pg-home m-0 px-0'%}
    {% assign topnavborderclass=' border-0'  %}
    {% else %}
    {% assign containerclass='container'%}
    {% assign topnavborderclass='' %}
    {% assign pageclass=''%}
    {% if page.toc == true %}
    {% assign mainclass='pg-doc'%}
    {% else %}
    {% assign mainclass='pg-category'%}
    {% endif %}
    {% endif %}

<body>
    <header class="{{ pageclass }}">
        {% unless page.hide_sidebar == true %}
        {% include v2/generic/sidebar.html %}
        {% endunless %}
        {% include v2/generic/topnav.html %}
    </header>
    <main id="main" class="{{ mainclass }}">
        <!-- Page Content -->
        <div id="main-container">
            {{content}}
        </div>
    </main>
    {% include v2/generic/footer.html %}
</body>
<script type="text/javascript" src="{{ "js/mdb/mdb.min.js" }}"></script>
<script type="module" src="{{ "js/customscripts.js" }}"></script>

{% if site.google_analytics %}
{% include v2/generic/google_analytics.html %}
{% endif %}

</html>