<section class="intro">
	<div class="intro-text">
		<p></p>
	</div>
</section>
<section>
	<div class="card py-4">
		<h2>{{ page.introtitle }}</h2>
		<div class="text">
			{{page.introtext}}
		</div>
		<!--start search-->
		<div id="category-search-container" class="doc-search-container text-dark">
			<input class="form-control rounded doc-search-input" type="text" id="categorysearch-input" placeholder="{{site.data.strings.category_search_placeholder_text}}">
			<ul id="category-results-container" class="results-container"></ul>
		</div>
		<script type="text/javascript">
			docsearch({
				apiKey: '52876b34ea9346e119deb025402cd681',
				indexName: 'cyclr',
				inputSelector: '#categorysearch-input',
				debug: true // Set debug to true if you want to inspect the dropdown
			});
		</script>
		<!--end search-->
	</div>
</section>
<section class="tiles mx-n4">
	<div class="container">
		<div class="d-flex justify-content-between mt-4 mb-5">
			{% for tile in categorydata.tiles %}
			<div class="card flex-sm-30 my-4 p-0 d-flex flex-colum justify-content-between">
				<div class="card-body p-0">
					<div class="d-flex flex-column justify-content-start align-items-start ">
						<i class="card-img-top border-0 icon icon-{{ tile.icon }} fa-5x my-4 py-5 text-center"></i>
						<div class="card-body p-4 border-top flex-grow-0 align-self-stretch">
							<a href="{{ tile.url }} " class="card-link stretched-link">
								<strong>{{tile.title}}</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
`