<section class="intro">
	<div class="intro-text">
		<p></p>
	</div>
</section>
<section class="category-default hero">
	<div class="card">
		<!--start search-->
		<div id="category-search-container" class="doc-search-container text-light bg-dark mt-20">
			<div id="category-query-container"></div>
			<div id="category-results-container" class="results-list rounded text-dark"></div>
		</div>
		<!--end search-->
	</div>
</section>
<section class="category-search cards pt-20">
	<div class="container-fluid m-0 p-0">
		<div class="d-flex justify-content-between colgap-xs colgap-sm-20 ">
			{% for tile in categorydata.tiles %}
			{% if tile.externalurl %}
			{% capture cardtarget %} target="_blank"{% endcapture %}
			{% capture cardurl %}{{tile.externalurl}}{% endcapture %}
			{% else %}
			{% capture cardtarget %}{% endcapture %}
			{% capture cardurl %}{{tile.url}}{% endcapture %}
			{% endif %}
			<div class="card hover-shadow flex-colum justify-content-between p-0 mt-0 mb-20 mx-0">
				<div class="card-body p-0">
					<div class="d-flex flex-column justify-content-start align-items-start ">
						{% if tile.img %}
						<img class="card-img-top border-0" src="./images/homepage/{{tile.img}}" alt="{{tile.title}}" />
						{% elsif tile.icon %}
						<i class="card-img-top border-0 icon icon-{{ tile.icon }} fa-5x my-4 py-5 text-center"></i>
						{% endif %}
						<div class="card-body p-4 border-top flex-grow-0 align-self-stretch">
							<a href="{{ cardurl }} " class="card-link stretched-link" {{cardtarget}}>
								<strong>{{tile.title}}</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<script>
const categorysearch = instantsearch({
    appId: '{{ site.algolia.application_id }}',
    apiKey: '{{ site.algolia.search_only_api_key }}',
    indexName: '{{ site.algolia.index_name }}',
    searchFunction(helper) {
        const catcontainer = document.querySelector('#category-results-container');
        const catpbcontainer = document.querySelector('#category-query-container .ais-search-box--powered-by');
        catcontainer.style.display = helper.state.query === '' ? 'none' : '';
        catpbcontainer.style.display = helper.state.query === '' ? 'none' : '';
        helper.search();
    }
});

const categoryhitTemplate = function(hit) {
	let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;
	const title = hit._highlightResult.title.value;
	let breadcrumbs = '';
	if (hit._highlightResult.headings) {
		breadcrumbs = hit._highlightResult.headings.map(match => {
			return `<span class="post-breadcrumb">${match.value}</span>`
		}).join(' > ')
	}
	const content = hit._highlightResult.html.value;
    if (breadcrumbs.length == 0)
        return `
        <div class="result-item">
          <a class="result-link" href="${url}">${title}</a> 
          <div class="result-snippet">${content}</div>
       </div>
      `;
    else
        return `
        <div class="result-item">
          <a class="result-link" href="${url}">${title}</a> 
          {{#breadcrumbs}}<a href="${url}" class="result-breadcrumbs">${breadcrumbs}</a>{{/breadcrumbs}}
          <div class="result-snippet">${content}</div>
       </div>
      `;
}

categorysearch.addWidget(
  instantsearch.widgets.searchBox({
    container: '#category-query-container',
    placeholder: '{{site.data.strings.category_search_placeholder_text}}',
    autofocus: false,
    magnifier: true,
    poweredBy: true,
    searchAsYouType: true,
    showReset: true,
    showSubmit: false,
    showLoadingIndicator: false
  })
);

categorysearch.addWidget(
  instantsearch.widgets.hits({
    container: '#category-results-container',
    templates: {
        item: categoryhitTemplate
    }
  })
);

categorysearch.start();
</script>
`